body{
    background-color: aqua;
    margin: 0;
    font-family: Arial;
}

header{
    background-color: black;
    padding: 20px;
    text-align: center;
}

nav a{
    color: aqua;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    text-decoration: none;
}


main {
    background-color: azure;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}
main h2{
    text-align: center;
}
main h1{
    text-align: center;
}
nav ahead{
    color: aqua;
    
}
main iframe{
    width: 100%;
}